﻿@model IEnumerable<Laboratory56.Models.Publication>

@{
    ViewData["Title"] = "Index";
}

<h2>Все публикации</h2>
<a asp-area="" asp-controller="Publications" asp-action="Create"><h4>Создать пост</h4></a>
<table class="table" width="350">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                Имя
            </th>
            <th>
                Описание
            </th>
            <th>
               Like
            </th>
            <th>
               Подписки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/@item.ImageUrl" width="700" height="450" />
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>

</table>


