﻿@model Laboratory56.Models.Publication


@{
    ViewBag.Title = "PartialView";
}

<table class="table">
    <thead>
    <tr>
        <th>
            Изображение
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th>
            Нравиться
        </th>
        <th>
            Подписки
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <img src="~/@Model.ImageUrl" width="700" height="450"/>
        </td>
        @* <td>@Html.DisplayFor(modelItem => Model.User.Name)</td> *@
        @* <td>@Model.User.Name</td> *@
        <td>
            <a asp-area="" asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@Model.User.Id"  data-toggle="popover" data-trigger="hover" id="@Model.Id">@Model.User.Name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Like)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Subscription)
        </td>
    </tr>

    </tbody>

</table>

<table>
    <tbody>
    <div class="row">
        <div class="col-lg-12">
            <a onclick="openCommentForm(@Model.Id)" style="cursor: pointer; color: darkslategray;">Оставить комментарий</a>
        </div>
        <div class="col-md-12" id="postdiv-@Model.Id" style="display: none; color: darkslategray;">
            <textarea id="posttext-@Model.Id"></textarea> <br/>
            <input type="button" id="postComment" onclick="sendComment('@Model.Id', '@Model.UserId')" value="Отправить"/>
        </div>
    </div>
    </tbody>
</table>

<br/>
<div id="postdiv-@Model.Id">
    <form>
        <input id="LikeId" type="button" value="Like" class="btn btn-default" onclick="sendLike('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: darksalmon;"/>
        <input id="DisLikeId" type="button" value="Dislike" class="btn btn-default" onclick="sendDislike('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: darksalmon;"/>
        <input id="subscribers-@Model.User" type="button" value="Subscribers" class="btn btn-default" onclick="SubScribers('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: cadetblue;"/>
        <input id="unsubscribers-@Model.User" type="button" value="UnSubscribers" class="btn btn-default" onclick="UnSubScribers('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: cadetblue;"/>
    </form>

</div>
<br/>
<hr/>


<script src="~/Scripts/jQuery 3.3.1.js">
</script>


<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            title: setData,
            html: true,
            placement: 'right'
        });

        function setData(id) {
            var set_data = '';
            var element = $(this);
            var id = element.attr("id");
            $.ajax({
                url: "/Home/UsersInfoPublic?id" + id,
                method: "post",
                async: false,
                data: { id: id },
                success: function(data) {
                    set_data = data;
                }
            });
            return set_data;
        }
    });
</script>


<script>
    function SubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("SubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы подписались :)', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function UnSubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("UnSubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы отписались :(', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function sendLike(userId, postId) {
        $.ajax({
            url: '@Url.Action("LikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Like!', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function sendDislike(userId, postId) {
        $.ajax({
            url: '@Url.Action("DisLikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Disike!', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function openCommentForm(postId) {
        $('#postdiv-' + postId).show();
    }

    function sendComment(postId, userId) {
        $.ajax({
            url: '@Url.Action("Comment", "Comments")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId, 'content': $('#posttext-' + postId).val() },
            success: function(data) {
                setTimeout(function() {
                        alert('Ваш комментарий ' + '(' + $('#posttext-' + postId).val() + ')' + ' добавлен!!!',
                            data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>