﻿@model Laboratory56.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd>
            @* @Html.DisplayFor(model => model.PostId) *@
            <img src="~/@Model.ImageUrl" width="350" height="250" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
