﻿@model IEnumerable<Laboratory56.Models.Comment>

@{
    ViewData["Title"] = "Index";
}
    <p>
        Все комментарии
    </p>

    <a asp-area="" asp-controller="Comments" asp-action="Create"><h4>Создать</h4></a>

<form asp-action="Index" method="post" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Изображение
                    </th>
                    <th>
                       Комментарий
                    </th>
                    <th>
                       Дата
                    </th>
                    <th>
                        Имя
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostId)
                            @* <img src="~/@item.ImageUrl" width="250" height="150" /> *@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Name)
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> | *@
                            <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div>
            <a asp-action="Index" asp-controller="Home">Back to List</a>
        </div>
    </form>

